.menu {
    width: 100%;
}

body {
    background: #3D1A11;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

input[type=radio] {
    display: none;
}

label {
    background-color: #563429;
    background-size: 4em;
    background-repeat: no-repeat;
    background-position: center top;
    color: white;
    display: block;
    font-size: 75%;
    padding: 4em 0 1em;
    text-transform: uppercase;
}

label[for=option-cakes] {
    background-image: url(images/icone-bolos.svg);
}

label[for=option-beverages] {
    background-image: url(images/icone-bebidas.svg);
}

input[type=radio]:checked + label {
    background-color: #E4876D;
}

label {
    width: 50%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

label[for=option-cakes] {
    left: 0;
}

label[for=option-beverages] {
    right: 0;
}

html, 
body {
    overflow-x: hidden;
    width: 100%;
}

.container-menus {
    -webkit-transform: translateX(0);
    transform: translateX(0);

    -webkit-transition: transform 300ms ease;
    transition: transform 300ms ease;
    
    width: 200%;
}

.container-menus .menu {
    float: left;
    width: 50%;
}

#option-beverages:checked ~ .container-menus {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}